body {
    /* 스타일 가이드의 배경색 (Slate 300) */
    background-color: hsl(212, 45%, 89%);

    /* 화면 정중앙 정렬을 위한 설정 */
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */

    /* 화면 전체 높이를 확보해야 '세로 중앙'이 먹힙니다 */
    min-height: 100vh;
    margin: 0;

    /* 폰트 설정 */
    font-family: 'Outfit', sans-serif;
}

.qr-card {
    background-color: hsl(0, 0%, 100%); /* White */
    width: 320px;                      /* 데스크탑 기준 고정 너비 */
    padding: 16px;                     /* 카드 안쪽의 하얀 테두리 간격 */
    border-radius: 20px;               /* 모서리를 둥글게 */

    /* 은은하게 퍼지는 그림자 효과 */
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);

    /* 내부 텍스트들을 일괄 중앙 정렬 */
    text-align: center;
}
/* 이미지 영역 */
.qr-card__image-container img{
    width: 100%;           /* 부모 너비에 꽉 맞춤 */
    border-radius: 10px;   /* 이미지 모서리도 둥글게 */
    display: block;        /* 하단 미세한 공백 제거 */
}

/* 텍스트 영역 */
.qr-card__content {
    padding: 24px 12px;    /* 텍스트 주변에 충분한 여백 */
}

.qr-card__title {
    color: hsl(218, 44%, 22%); /* Slate 900 (진한 남색) */
    font-size: 22px;
    font-weight: 700;          /* Bold */
    line-height: 1.2;
    margin-bottom: 16px;       /* 설명글과의 간격 */
}

.qr-card__description {
    color: hsl(216, 15%, 48%); /* Slate 500 (회색) */
    font-size: 15px;
    font-weight: 400;          /* Regular */
    line-height: 1.4;
}